{% extends 'base.html.twig' %}

{% block title %}
    Welcome
{% endblock %}

{% block body %}
    <h1>Welcome to Symfony</h1>
    <h2>You are using Symfony version: {{ version }}</h2>
{% endblock %}